name: "Test-Run"

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - "dev**"
      - devel
      - main
  pull_request: ~
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.2
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.test.txt
      - name: "Linting with Ruff"
        uses: "chartboost/ruff-action@v1"
      - name: Run tests and collect coverage
        run: pytest --cov=custom_components tests --asyncio-mode=auto
